- if (team.includes(user, session.team) || admin)
  .edit: a.button( href: '/teams/' + team.id + '/edit' ) Manage

h1= title(team.name)

- if (team.invited(session.invite))
  h2 You're invited to this team!
  p.accept
    a.button.scary( href: '/login/github' ) Accept Invitation
    |  via
    img( src: '/images/github.png', style: 'margin-bottom: -4px;' )
    | github

- if (admin || (deployment && team.includes(user)))
  - if (team.lastDeploy)
    h2.deploy-status.done Successfully deployed
  - else
    h2.deploy-status.pending Not yet deployed
    ul.platforms
      li: label use:
      li: a( href: '#joyent' ) Joyent
      li: a( href: '#heroku' ) Heroku
      li: a( href: '#linode' ) Linode
    .platform#joyent
      ol
        li require('nko')('#{team.code}');
        li git remote add joyent git://no.de/foo.git
        li git push joyent master
    .platform#heroku
      ol
        li require('nko')('#{team.code}');
        li heroku create --stack cedar
        li heroku config:add NODE_ENV=production
        li git push heroku master
    .platform#linode
      ol
        li require('nko')('#{team.code}');
        li install linux
        li export NODE_ENV=production
        li deploy it, yo

- if (people.length)
  h2 Members
  ul.people
    - each person in people
      li
        img.avatar( src: avatar_url(person) )
        a( href: '/people/' + person.id )= person.github.login
        - if (person.location)
          |  &mdash;
          = person.location

- if (team.invites.length)
  h2 Invites (#{team.invites.length} pending)
  - if (team.includes(user, session.team) || admin)
    p Check your email for invites or resend invites below.
    ul.invites
      - each invite in team.invites
        li
          #{invite.email} &mdash;
          a( href: '/teams/' + team.id + '/invites/' + invite.id, rel: 'nofollow' ) resend
          span.sending

- if (team.description)
  h2 Description
  != markdown(team.description)

- if (voting)
  h2 Your Vote
  != partial('votes/form', { vote: vote })
  h2 Votes
  ul.votes!= partial('votes/vote', votes)
